/* https://github.com/ateliertriay/bricolage */

@font-face {
    font-family: 'Bricolage Grotesque';
    font-weight: 500;
    font-style: normal;
    font-display: block;
    src: url(/fonts/BricolageGrotesque-Medium.woff2) format("woff2");
    /*src: url(/fonts/BricolageGrotesque[opsz,wdth,wght].woff2) format("woff2-variations");*/
}

@font-face {
    font-family: 'Bricolage Grotesque Condensed';
    font-weight: 800;
    font-style: normal;
    font-display: block;
    src: url(/fonts/BricolageGrotesque96ptCondensed-ExtraBold.woff2) format("woff2");
}
